header{
    color: black;
    background: transparent;
    padding: 1.2rem 2rem;
    display: flex;
    justify-content: space-around;


    >.logo{

        img{
            width: 3rem;
            height: 3rem;
        }
    }

    .stats{
        display: flex;
        align-items: center;
        border-radius: 1.5rem;
        background: rgba(240, 240, 240, 0.868);
        padding: 0.3rem 1rem;
        
        >img{
            width: 1.6rem;
            height: 1.2rem;
        }

        >span{
            font-size: 0.6rem;
        }
    }

    >nav{
        display: flex;
        align-items: center;

        ul{
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            gap: 1.5rem;
            font-size: 0.9rem;
        }
    }

    >.searchIcon{
        position: relative;

        >i{
            position: absolute;
            top: 20%;
            left: 0;
        }

        >input{
            padding: 0.6rem;
            font-size: 0.8rem;
            border-radius: 0.4rem;
            border: 1px solid lightgray;
        }
    }
}